.git
.gitignore
.github

.venv
venv
__pycache__
*.py[cod]
.pytest_cache
.ruff_cache
.mypy_cache

.env
.env.*
!.env.example

*.sqlite3

staticfiles
media

htmlcov
.coverage
coverage.xml

loadtests
tests

Dockerfile
docker-compose*.yml

*.md
