# Django Core Settings
DJANGO_SECRET_KEY=django-insecure-change-this-in-production-use-a-long-random-string
DJANGO_DEBUG=True
DJANGO_ALLOWED_HOSTS=localhost,127.0.0.1,0.0.0.0

# Database (PostgreSQL)
# Format: postgres://USER:PASSWORD@HOST:PORT/NAME
DATABASE_URL=postgres://shortlink_user:shortlink_pass@127.0.0.1:5432/shortlink_db

# Cache / Rate Limiting (Redis)
REDIS_URL=redis://127.0.0.1:6379/0

# App Specific Configurations
BASE_SHORT_URL=http://localhost:8000
CODE_LENGTH=7