# Python artifacts
*.py[cod]
__pycache__/
*.so
.Python
env/
venv/
ENV/
build/
develop-eggs/
dist/
downloads/
eggs/
.eggs/
lib/
lib64/
parts/
sdist/
var/
wheels/
*.egg-info/
.installed.cfg
*.egg

# Django
*.log
local_settings.py
db.sqlite3
db.sqlite3-journal
media/
staticfiles/

# Secrets and environment configurations
.env
.env.local

# Testing and linters
.pytest_cache/
.coverage
htmlcov/
.ruff_cache/

# IDE files
.vscode/
.idea/
*.swp
*.swo

# Docker
*.env